:root{
    --background: #ffffff;
    --background-dark: #f7fafc;
    --title-colour: #0f172a;
    --text-colour: #525569;
    --strong-color: #4f46e5;
    --strong-background-colour: #f1f5f9;

    --title-size: 100px;
    --nav-size: x-large;
}

body{
    font-family: Mulish;
    margin: 0;
    padding-top: 10px;
}

header {
    position: sticky;
    top: 0;
    background-color: #ffffffcc;
    backdrop-filter: blur(10px);
    z-index: 100;
    padding: 10px 0;
}

p, strong {
    color: var(--text-colour);
}

strong {
    background-color: var(--strong-background-colour);
    border-radius: 15px;
    padding: 3px 8px 3px 8px;
}

.nav-title {
    color: var(--strong-color);
    font-size: var(--nav-size);
    margin-left: 20px;
}

.introduction {
    background-color: var(--background-dark);
}

#introduction-intro {
    color: var(--strong-color);
    margin-left: 20px;
    padding-top: 60px;
}

#introduction-title {
    font-size: var(--title-size);
    font-weight: 1000;
    margin-left: 20px;
    color: var(--title-colour);
}

#introducion-msg {
    color: var(--text-colour);
    font-size: larger;
    margin-left: 20px;
    margin-right: 150px;
    margin-bottom: 60px;
}

#links {
    margin: 30px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#myWork {
    background-color: var(--strong-color);
    padding: 20px;
    border-radius: 30px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    transition: all 1s ease-out;
}

#myWork:hover {
    box-shadow: -1px 2px 10px var(--strong-color);
    transition: all 0.3s ease-out;
}

#social {
    display: flex;
    gap: 20px;
}

#social a {
    color: var(--text-colour);
    font-size: 35px;
    transition: all 0.3s ease-out;
    text-decoration: none;
}

#social a:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-out;
    color: var(--title-colour);
}

h2{
    font-size: xx-large;
}

#learning-container {
    margin-left: 20px;
    padding-bottom: 30px;
}

.skill-item {
    background-color: var(--background-dark);
    margin: 20px 20px 20px 0;
    padding: 20px;
    border-radius: 20px;
    transition: all 1s ease-out;
}

.skill-item:hover {
    box-shadow: 0 5px 10px #52556955;
    transition: all 1s ease-out;
}

.skill-item:hover > .skill-logo {
    height: 50px;
    width:fit-content;
    transition: all 1s 0.5s ease-out;
}


.skill-logo{
    height: 30px;
    width:fit-content;
    transition: all 1s ease-out;
}

#projects-container{
    margin-left: 20px;
}

#projects{
    background-color: var(--background-dark);
    padding: 20px 0 30px 0;
}

.project-item{
    padding: 20px;
    background-color: var(--background);
    border-radius: 20px;
    width: fit-content;
    transition: all 0.5s ease-out;
    overflow: hidden;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-item:hover{
    transition: all 0.5s ease-out;
}

.project-item a{
    transition: all 0.5s ease-out;
    text-decoration: none;
    color: var(--title-colour);
}

.project-item:hover .project-title, .project-item:hover a {
    color: var(--strong-color);
    transition: all 0.5s ease-out;
}

.project-item:hover > .project-img {
    transform: scale(1.1);
    transition: all 0.5s ease-out;
}

.project-img {
    transition: all 0.5s ease-out;
    border-radius: 15px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

@media (min-width: 1024px) {
    #learning-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 20px;
        margin-right: 20px;
    }

    #learning-container h2 {
        grid-column: 1 / -1;
        margin: 0;
    }

    #learning-container .sub {
        grid-column: 1 / -1;
        margin: 0;
    }

    .skill-item {
        margin: 0;
    }

    #projects-container{
        margin-right: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 60px;
        margin-bottom: 30px;
    }

    #projects-container h2 {
        grid-column: 1 / -1;
    }

    .project-item{
        margin: 0;
    }
}

.contact {
    text-align: center;
    margin-bottom: 100px;
}
.contact > p {
    margin-bottom: 70px;
}
#sendMail {
    background-color: var(--title-colour);
    padding: 15px;
    border-radius: 30px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    margin-right: 30px;
    transition: all 1s ease-out;
}

#sendMail:hover {
    box-shadow: -1px 2px 10px var(--title-colour);
    transition: all 1s ease-out;
}

footer{
    text-align: center;
    background-color: var(--background-dark);
    padding: 15px;
}


#moreProjects {
    text-decoration: none;
    margin-left: 20px;
    margin-top: 800px;
    background-color: var(--title-colour);
    padding: 10px;
    border-radius: 30px;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    transition: all 1s ease-out;
    margin-bottom: 50px;
}

#moreProjects:hover{
    font-weight: 800;
    transition: all 0.3s ease-out;
}

#articles-list {
    font-size: large;
    li{
        a {
            color:var(--title-colour);
            text-decoration: none;
            transition: all 0.5s ease-out;
        };
        a:hover {
            text-shadow: 2px 3px 7px var(--title-colour);
            transition: all 0.3s ease-out;
        };

        list-style: none;
        padding: 10px;
        position: relative;
    
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 30%;
            height: 0.1px;
            background-color: var(--text-colour);
        }
    }

}

.article-content{
    text-align: justify;
    margin: 10px 100px 10px 100px;
    font-size: larger;
    color: #0f172a;
    word-spacing: 0.3em;
    line-height: 1.8;
    align-content: center;
}

.article-content img {
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}